.header-menu {
  margin: 0;
}

.header-menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  list-style: none;
}

.header-menu__list_type_drop {
  position: absolute;
  display: none;
}

.header-menu__drop-list-wrapper {
  position: relative;
}

.header-menu__link {
  text-decoration: none;
}

.header-menu__link_active {
  color: red;
}

.header-menu__drop-list-wrapper:hover .header-menu__list_type_drop {
  display: block;
}
