.filter-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

  .filter-checkbox__invisible-checkbox {
    display: none;
  }

  .filter-checkbox__visible-checkbox {
    height: 20px;
    width: 36px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 9999px;
    background-color: var(--color-background-b, #202020);
    transition: all .2s ease-in;
    cursor: pointer;
  }

  .filter-checkbox__visible-checkbox::after {
    height: 16px;
    width: 16px;
    content: '';
    position: absolute;
    left: 2px;
    border-radius: 9999px;
    background-color: var(--color-background-a, #8B8B8B);
    transition: all .2s ease-in;
  }

  .filter-checkbox__invisible-checkbox:checked + .filter-checkbox__visible-checkbox::after {
    background-color: var(--color-accent-b, #3DDC84);
    left: 50%;
  }

    .filter-checkbox__visible-checkbox_color_inverted {
      background-color: var(--color-background-a);
    }

    .filter-checkbox__visible-checkbox_color_inverted::after {
      background-color: var(--color-background-b);
    }
