.task-list {
  margin: 0;
  padding: var(--padding-a, 20px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--padding-a, 20px);
}

.task-list__add-button {
  --border-width: 2px;
  margin: 0;
  padding: 0;
  height: 110px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: var(--border-width) solid var(--color-background-b);
  border-radius: var(--border-radius-a);
}

.task-list__add-button::before {
  content: '';
  display: block;
  position: absolute;
  height: var(--border-width);
  width: 40px;
  background: var(--color-background-b);
}

.task-list__add-button::after {
  content: '';
  display: block;
  position: absolute;
  height: 40px;
  width: var(--border-width);
  background: var(--color-background-b);
}
